@charset 'utf-8';
@import "design";
@import "reset";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
body {
    font: 16px/1.6 'Play','Noto Sans KR', Malgun Gothic, "맑은 고딕", "dotum", "돋움", "AppleGothic", sans-serif;
    font-weight: 400;
    color: $fontColor-1;
    overflow-x: hidden;
}

#header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: transparent;
    z-index: 3;
    transition: all 300ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
    -webkit-transition: all 300ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
    &.on{
        background-color: rgba(255, 255, 255, 0.75);
        .header-section{
            .logo{
                display: block;
            }
            .gnb-wrap{
                .gnb{
                    >li{
                        >a{
                            color: $fontColor-1;
                        }
                    }
                }
                .btn-allmenu{
                    >span{
                        background-color: $fontColor-1 !important;
                    }
                }
            }
        }
    }
    .header-section {
        position: relative;
        width: 100%;
        height: 100%;

        .logo {
            display: none;
            width: 155px;
            height: 47px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 40px;
        }

        .gnb-wrap {
            position: absolute;
            bottom: 0;
            right: 3.333333333333333vw; //40px(1200)
            clear: both;
            height: 80px;
            line-height: 80px;

            .gnb {
                clear: both;
                font-size: 24px;
                color: #fff;
                float: left;

                >li {
                    position: relative;
                    display: block;
                    float: left;
                    margin-right: 2.5vw; //30px(1200)
                    height: 80px;
                    line-height: 80px;

                    &:hover,
                    &:focus,
                    &.on {
                        >a {
                            &::after {
                                width: 100%;
                                transition: all 300ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
                                -webkit-transition: all 300ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
                            }
                        }

                        &:nth-child(1) {
                            >ul {
                                height: 280px;
                                transition: all 300ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
                                -webkit-transition: all 300ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
                            }
                        }

                        &:nth-child(2) {
                            >ul {
                                height: 70px;
                                transition: all 300ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
                                -webkit-transition: all 300ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
                            }
                        }

                        &:nth-child(3) {
                            >ul {
                                height: 105px;
                                transition: all 300ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
                                -webkit-transition: all 300ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
                            }
                        }

                        &:nth-child(4) {
                            >ul {
                                height: 175px;
                                transition: all 300ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
                                -webkit-transition: all 300ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
                            }
                        }

                        &:nth-child(5) {
                            >ul {
                                height: 210px;
                                transition: all 300ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
                                -webkit-transition: all 300ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
                            }
                        }

                        &:nth-child(6) {
                            >ul {
                                height: 175px;
                                transition: all 300ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
                                -webkit-transition: all 300ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
                            }
                        }

                        &:nth-child(7) {
                            >ul {
                                height: 35px;
                                transition: all 300ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
                                -webkit-transition: all 300ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
                            }
                        }
                    }

                    >a {
                        position: relative;

                        &::after {
                            position: absolute;
                            content: '';
                            bottom: -10px;
                            left: 50%;
                            transform: translateX(-50%);
                            width: 0;
                            height: 4px;
                            background-color: $mainColor-1;
                        }
                    }

                    >ul {
                        position: absolute;
                        width: 180px;
                        height: 0;
                        top: 80px;
                        left: 50%;
                        transform: translateX(-50%);
                        font-size: 16px;
                        text-align: center;
                        background-color: rgba(0, 116, 174, 0.75);
                        overflow: hidden;

                        >li {
                            display: block;
                            height: 35px;
                            line-height: 35px;
                            font-weight: 400;

                            >a {
                                position: relative;

                                &::after {
                                    position: absolute;
                                    content: '';
                                    bottom: 0px;
                                    left: 0;
                                    width: 0;
                                    height: 1px;
                                    background-color: #fff;
                                    transition: all 300ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
                                    -webkit-transition: all 300ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
                                }

                                &:hover,
                                &:focus {
                                    &::after {
                                        width: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .btn-allmenu {
                position: relative;
                float: left;
                bottom: -30px;
                width: 50px;
                height: 23px;
                cursor: pointer;
                z-index: 5;

                &.on {
                    >span {
                        &:nth-of-type(1) {
                            animation: allmenuSpan1on .75s forwards;
                            -webkit-animation: allmenuSpan1on .75s forwards;
                            background-color: $fontColor-1;
                            transition: all 750ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
                            -webkit-transition: all 750ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
                        }

                        &:nth-of-type(2) {
                            transition: all .25s .25s;
                            background-color: $fontColor-1;
                            opacity: 0;
                            transition: all 750ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
                            -webkit-transition: all 750ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
                        }

                        &:nth-of-type(3) {
                            width: 100%;
                            animation: allmenuSpan2on .75s forwards;
                            -webkit-animation: allmenuSpan2on .75s forwards;
                            background-color: $fontColor-1;
                            transition: all 750ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
                            -webkit-transition: all 750ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
                        }
                    }
                }

                &.off {
                    >span {
                        &:nth-of-type(1) {
                            animation: allmenuSpan1off .75s forwards;
                            -webkit-animation: allmenuSpan1off .75s forwards;
                            transition: all 750ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
                            -webkit-transition: all 750ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
                        }

                        &:nth-of-type(2) {
                            transition: all .25s .25s;
                            opacity: 1;
                            transition: all 750ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
                            -webkit-transition: all 750ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
                        }

                        &:nth-of-type(3) {
                            width: 65%;
                            animation: allmenuSpan2off .75s forwards;
                            -webkit-animation: allmenuSpan2off .75s forwards;
                            transition: all 750ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
                            -webkit-transition: all 750ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
                        }
                    }
                }

                span {
                    &:nth-of-type(1) {
                        position: absolute;
                        top: 0;
                        width: 100%;
                        height: 3px;
                        border-radius: 1.5px;
                        background-color: #fff;
                    }

                    &:nth-of-type(2) {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 100%;
                        height: 3px;
                        border-radius: 1.5px;
                        background-color: #fff;
                    }

                    &:nth-of-type(3) {
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        width: 65%;
                        height: 3px;
                        border-radius: 1.5px;
                        background-color: #fff;
                    }
                }
            }
        }
    }
    .allmenu-wrap {
        position: fixed;
        top: 0;
        right: -100vw;
        z-index: 4;
        background-color: $mainColor-4;
        width: 100vw;
        height: 970px;
        transition: all 750ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
        -webkit-transition: all 750ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
    
        &.on {
            right: 0;
            transition: all 750ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
            -webkit-transition: all 750ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
        }
    
        >.allmenu {
            width: 100%;
            height: 720px;
            clear: both;
            text-align: center;
            margin: calc((100vh - 720px) / 2) 0;
    
            >li {
                width: 33%;
                height: 360px;
                font-size: 24px;
                padding: 0 6%;
                margin-bottom: 60px;
                float: left;
    
                >a {
                    position: relative;
                    display: block;
                    width: 100%;
                    height: 70px;
                    line-height: 70px;
    
                    &::before {
                        position: absolute;
                        display: block;
                        top: 0;
                        left: 0;
                        content: '';
                        width: 100%;
                        height: 4px;
                        background: linear-gradient(to right, $mainColor-1, $mainColor-2)
                    }
    
                    &::after {
                        position: absolute;
                        display: block;
                        bottom: 0;
                        left: 0;
                        content: '';
                        width: 100%;
                        height: 4px;
                        background: linear-gradient(to right, $mainColor-2, $mainColor-1)
                    }
                }
    
                >ul {
                    >li {
                        display: block;
                        width: 100%;
                        font-size: 20px;
                        text-align: center;
    
                        &:hover,
                        &:focus {
                            >a {
                                &::after {
                                    width: 100%;
                                    transition: all 300ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
                                    -webkit-transition: all 300ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
                                }
                            }
                        }
    
                        >a {
                            position: relative;
                            display: inline-block;
                            height: 36px;
                            line-height: 36px;
    
                            &::after {
                                position: absolute;
                                content: '';
                                width: 0;
                                height: 1px;
                                background: linear-gradient(to right, $mainColor-2, $mainColor-1);
                                bottom: 0;
                                left: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

#container {
    position: relative;

    .row1 {
        width: 100vw;

        .main-slide-wrap {
            width: 100%;
            height: 970px;
            clear: both;

            .main-slide-side {
                position: relative;
                float: left;
                width: 225px;
                height: 970px;
                background-color: $mainColor-4;
                box-shadow: 1px -15px 10px $fontColor-1;
                z-index: 2;

                h1 {
                    position: relative;

                    .logo {
                        position: absolute;
                        top: 55px;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 120px;
                        height: 150px;
                    }
                }

                div {
                    position: absolute;
                    width: 540px;
                    height: 26px;
                    line-height: 26px;
                    left: 99.5px;
                    bottom: -26px;
                    transform-origin: 0 0;
                    font-size: 18px;
                    transform: rotate(-90deg);

                    span {
                        &:nth-of-type(1) {
                            position: relative;
                            top: -6px;
                            display: inline-block;
                            width: 200px;
                            height: 2px;
                            background-color: #ddd;
                            overflow: hidden;

                            &::after {
                                position: absolute;
                                content: '';
                                width: 60px;
                                height: 2px;
                                top: 0;
                                right: 0px;
                                background-color: $mainColor-1;
                                box-shadow: 0 0 1px 0px $mainColor-1;
                                animation: scroll 1.5s infinite;
                            }
                        }

                        &:nth-of-type(2) {
                            display: inline-block;
                            width: 335px;
                        }
                    }
                }
            }

            .mainslide {
                position: relative;
                width: calc(100%-225px);
                height: 100vh;

                .gallery-top {
                    .swiper-wrapper {
                        .swiper-slide {
                            position: relative;
                            width: 100%;
                            height: 100vh;
                            background-repeat: no-repeat;
                            background-size: cover;
                            >p {
                                position: absolute;
                                top: 0;
                                left: 0;
                                z-index: 2;
                                color: #fff;
                                font-weight: 700;

                                &:nth-of-type(1) {
                                    font-size: 42px;
                                    top: 45%;
                                    left: 195px;
                                    transform: translateY(-50%);
                                }

                                &:nth-of-type(2) {
                                    font-size: 24px;
                                    top: 55%;
                                    left: 200px;
                                }
                            }
                        }
                    }

                    .mainslide-pager {
                        position: absolute;
                        width: 225px;
                        height: 94px;
                        bottom: 0;
                        right: 0;
                        background-color: $mainColor-4;
                        z-index: 1;
                        box-shadow: -1px -10px 10px $fontColor-1;

                        .swiper-pagination {
                            bottom: 40px;

                            .swiper-pagination-current {
                                position: relative;
                                margin-right: 5px;

                                &::after {
                                    position: absolute;
                                    top: 6px;
                                    left: 13px;
                                    content: '';
                                    width: 2px;
                                    height: 15px;
                                    background-color: $subColor-1;
                                }
                            }

                            .swiper-pagination-total {
                                margin-left: 5px;
                            }
                        }

                        .swiper-button-next {
                            background: url(../images/main/next_exhibit.png) no-repeat 0 0;
                            width: 79px;
                            height: 29px;
                            background-size: cover;
                            color: transparent;

                            &::after {
                                display: none;
                            }
                        }

                        .swiper-button-prev {
                            background: url(../images/main/prev_exhibit.png) no-repeat 0 0;
                            width: 79px;
                            height: 29px;
                            background-size: cover;
                            color: transparent;

                            &::after {
                                display: none;
                            }
                        }

                        .slide-bar {
                            position: absolute;
                            bottom: 25px;
                            left: 50%;
                            transform: translateX(-50%);
                            display: block;
                            width: 200px;
                            height: 2px;
                            background-color: #ddd;

                            &.on {
                                &::after {
                                    width: 100%;
                                    transition: all 5000ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
                                    -webkit-transition: all 5000ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
                                }
                            }

                            &::after {
                                position: relative;
                                content: '';
                                display: block;
                                top: 0;
                                left: 0;
                                width: 0;
                                height: 2px;
                                background-color: $mainColor-1;
                            }
                        }
                    }
                }

                .gallery-thumbs {
                    position: absolute;
                    width: 600px;
                    height: 120px;
                    bottom: 40px;
                    left: 185px;
                    z-index: 2;

                    .swiper-wrapper {
                        .swiper-slide {
                            position: relative;
                            width: 100%;
                            height: 100%;
                            background-size: cover;
                            cursor: pointer;

                            >span {
                                display: block;
                                width: 100%;
                                height: 100%;
                                background: rgba(0, 0, 0, 0.7);
                                border: 1px solid $subColor-1;
                                z-index: 2;
                            }

                            &.swiper-slide-thumb-active {
                                >span {
                                    background: transparent;
                                    border: 1px solid #fff;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .row2 {
        overflow: hidden;
        background-color: $mainColor-4;
        width: 100%;
        height: 970px;

        h2 {
            position: relative;
            padding-top: 155px;
            text-align: right;
            width: 360px;
            font-size: 36px;
            font-weight: 700;

            &::after {
                position: absolute;
                bottom: -4px;
                right: 0;
                content: '';
                width: 100%;
                height: 4px;
                background-color: $mainColor-2;
            }
        }

        .row2-1 {
            width: 100%;
            height: 280px;
            background-color: #eee;

            >ul {
                width: 1200px;
                height: 280px;
                clear: both;
                margin: 0 calc((100vw - 1200px) / 2);
                padding: 20px 0;

                >li {
                    position: relative;
                    display: block;
                    float: left;
                    width: calc(25% - 20px);
                    height: 240px;
                    line-height: 240px;
                    font-size: 32px;
                    font-weight: 700;
                    text-align: center;
                    text-indent: 80px;
                    margin: 0 10px;

                    >a {
                        position: relative;
                        display: block;
                        width: 100%;
                        height: 100%;
                        z-index: 1;

                    }

                    &:nth-of-type(1) {
                        &::after {
                            position: absolute;
                            content: '';
                            top: calc(50% - 30px);
                            left: 35px;
                            width: 70px;
                            height: 60px;
                            background: url(../images/main/row2-icon1-off.png) no-repeat 0 0;
                        }
                    }

                    &:nth-of-type(2) {
                        &::after {
                            position: absolute;
                            content: '';
                            top: calc(50% - 30px);
                            left: 35px;
                            width: 70px;
                            height: 60px;
                            background: url(../images/main/row2-icon2-off.png) no-repeat 0 0;
                        }
                    }

                    &:nth-of-type(3) {
                        &::after {
                            position: absolute;
                            content: '';
                            top: calc(50% - 30px);
                            left: 35px;
                            width: 70px;
                            height: 60px;
                            background: url(../images/main/row2-icon3-off.png) no-repeat 0 0;
                        }
                    }

                    &:nth-of-type(4) {
                        &::after {
                            position: absolute;
                            content: '';
                            top: calc(50% - 30px);
                            left: 35px;
                            width: 70px;
                            height: 60px;
                            background: url(../images/main/row2-icon4-off.png) no-repeat 0 0;
                        }
                    }

                    &:hover {
                        background-color: $mainColor-2;
                        color: #fff;
                        transition: all 300ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
                        -webkit-transition: all 300ms cubic-bezier(0.46, 0.03, 0.52, 0.96);

                        &:nth-of-type(1) {
                            &::after {
                                background: url(../images/main/row2-icon1-on.png) no-repeat 0 0;
                            }
                        }

                        &:nth-of-type(2) {
                            &::after {
                                background: url(../images/main/row2-icon2-on.png) no-repeat 0 0;
                            }
                        }

                        &:nth-of-type(3) {
                            &::after {
                                background: url(../images/main/row2-icon3-on.png) no-repeat 0 0;
                            }
                        }

                        &:nth-of-type(4) {
                            &::after {
                                background: url(../images/main/row2-icon4-on.png) no-repeat 0 0;
                            }
                        }
                    }

                }
            }
        }

        .row2-2 {
            width: 100%;
            background: url(../images/main/row2-2-bg.png) no-repeat 50% 50%;
            background-size: cover;
            color: #fff;

            .row2-2-wrap {
                width: 1200px;
                height: 480px;
                clear: both;
                margin: 0 calc((100vw - 1200px) / 2);

                h3 {
                    display: inline-block;
                    position: relative;
                    font-size: 32px;
                    font-weight: 700;
                    margin: 40px 0 29px 40px;

                    &::after {
                        position: absolute;
                        bottom: -5px;
                        left: 0;
                        content: '';
                        width: 100%;
                        height: 4px;
                        background: $mainColor-2;
                    }
                }

                .row2-2-1 {
                    position: relative;
                    width: 50%;
                    height: 100%;
                    float: left;
                    padding-left: 60px;

                    form {
                        float: left;

                        >p {
                            font-size: 22px;
                            margin-bottom: 5px;
                        }

                        >input[type=text] {
                            width: 300px;
                            height: 55px;
                            line-height: 55px;
                            font-size: 18px;
                            margin-bottom: 25px;
                        }

                        >select {
                            width: 300px;
                            height: 55px;
                            line-height: 55px;
                            font-size: 18px;
                            margin-bottom: 25px;
                            color: $fontColor-1;
                        }
                    }

                    >div {
                        position: relative;
                        float: left;
                        margin-top: 160px;
                        margin-left: 20px;
                        font-size: 28px;

                        >input[type=submit] {
                            display: block;
                            width: 184px;
                            height: 175px;
                            line-height: 175px;
                            text-indent: -45px;
                            background-color: $mainColor-2;
                            color: #fff;
                            border: none;
                            font-size: 28px;
                            cursor: pointer;
                        }

                        span {
                            position: absolute;
                            display: block;
                            top: 70px;
                            right: 45px;
                            width: 30px;
                            height: 30px;
                            background: url(../images/main/arrow-icon-rt.png) no-repeat 50% 50%;
                            background-size: cover;
                        }

                        >a {
                            display: block;
                            margin-top: 20px;
                            width: 184px;
                            height: 100px;
                            line-height: 100px;
                            text-align: center;
                            background-color: $mainColor-2;
                        }
                    }
                }

                .row2-2-2 {
                    position: relative;
                    width: 50%;
                    height: 100%;
                    float: right;
                    padding-left: 60px;

                    form {
                        float: left;

                        >p {
                            font-size: 22px;
                            margin-bottom: 5px;
                        }

                        >input[type=text] {
                            width: 300px;
                            height: 55px;
                            line-height: 55px;
                            font-size: 18px;
                            margin-bottom: 25px;
                        }

                        >select {
                            width: 300px;
                            height: 55px;
                            line-height: 55px;
                            font-size: 18px;
                            margin-bottom: 25px;
                            color: $fontColor-1;
                        }
                    }

                    >div {
                        position: relative;
                        float: left;
                        margin-top: 40px;
                        margin-left: 20px;
                        font-size: 28px;

                        >input[type=submit] {
                            display: block;
                            width: 184px;
                            height: 295px;
                            line-height: 295px;
                            text-indent: -45px;
                            background-color: $mainColor-2;
                            color: #fff;
                            border: none;
                            font-size: 28px;
                            cursor: pointer;
                        }

                        span {
                            position: absolute;
                            display: block;
                            top: 50%;
                            transform: translateY(-50%);
                            right: 45px;
                            width: 30px;
                            height: 30px;
                            background: url(../images/main/arrow-icon-rt.png) no-repeat 50% 50%;
                            background-size: cover;
                        }
                    }
                }

                
            }
        }
    }

    .row3 {
        position: relative;
        overflow: hidden;
        background-color: $mainColor-4;
        width: 100%;
        height: 970px;
        
        h2 {
            position: relative;
            padding-top: 155px;
            text-align: right;
            width: 360px;
            font-size: 36px;
            font-weight: 700;

            &::after {
                position: absolute;
                bottom: -4px;
                right: 0;
                content: '';
                width: 100%;
                height: 4px;
                background-color: $mainColor-3;
            }
        }
        h3{
            font-size: 70px;
            font-weight: 700;
            margin-left: 170px;
            margin-top: 85px;
            margin-bottom: 20px;
        }
        .newsroom-wrap{
            background-color: $mainColor-4;
            .newsroom{
                position: relative;
                input[type=radio]{
                    position: absolute;
                    left: -9999px;
                    &:checked{
                        +label{
                            border: 2px solid $mainColor-3;
                            color: #fff;
                            background-color: $mainColor-3;
                        }
                        ~ .newsroom-subslide{
                            height: 100%;
                        }
                        ~ .swiper-button-next, ~.swiper-button-prev, ~.btn-more{
                            display: block;
                        }
                    }
                }
                label{
                    position: absolute;
                    top: -70px;
                    right: 310px;
                    width: 120px;
                    height: 50px;
                    line-height: 45px;
                    border: 2px solid $fontColor-1;
                    border-radius: 25px;
                    text-align: center;
                    font-size: 22px;
                    cursor: pointer;
                }
                >.newsroom-subslide{
                    height: 0;
                    width: 1580px;
                    margin: 20px auto 0;
                    >.swiper-wrapper{
                        >.swiper-slide{
                            width: 370px;
                            height: 350px;
                            border: 2px solid $fontColor-1;
                            color: $fontColor-1;
                            background-color: $mainColor-4;
                            &:hover{
                                border: 2px solid $mainColor-3;
                                transition: all 300ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
                                -webkit-transition: all 300ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
                            }
                            >p{
                                margin: 40px 20px 0 0;
                                &:nth-of-type(1){
                                    text-align: right;
                                    font-size: 16px;
                                    line-height: 1;
                                    >em{
                                        font-size: 48px;
                                        font-weight: 700;
                                    }
                                }
                                &:nth-of-type(2){
                                    font-size: 26px;
                                    font-weight: 700;
                                    margin: 20px 0 0 40px;
                                }
                            }
                            >a{
                                width: 74px;
                                height: 38px;
                                display: block;
                                margin-left: 40px;
                                margin-top: 70px;
                            }
                        }
                    }
                }
                >.swiper-button-next{
                    display: none;
                    position: absolute;
                    width: 50px;
                    height: 50px;
                    top: 50%;
                    right: 4.6875vw; //90px(1200)
                    transform: translateY(-50%);
                    background: url(../images/main/right-arr.png) no-repeat 50% 50%;
                    z-index: 2;
                    &::after{
                        display: none;
                    }
                }
                >.swiper-button-prev{
                    display: none;
                    position: absolute;
                    width: 50px;
                    height: 50px;
                    top: 50%;
                    left: 4.6875vw; //90px(1200)
                    transform: translateY(-50%);
                    background: url(../images/main/left-arr.png) no-repeat 50% 50%;
                    z-index: 2;
                    &::after{
                        display: none;
                    }
                }
                >.btn-more{
                    display: none;
                    font-size: 24px;
                    font-weight: 700;
                    text-align: center;
                    margin-top: 20px;
                    >a{
                        display: inline-block;
                        position: relative;
                        color: $fontColor-1;
                        &:hover{
                            color: $fontColor-1;
                        }
                        >span{
                            background-color: $mainColor-3;
                        }
                    }
                }
            }
        }
        .notice-wrap{
            background-color: $mainColor-4;
            .notice{
                position: relative;
                input[type=radio]{
                    position: absolute;
                    left: -9999px;
                    &:checked{
                        +label{
                            border: 2px solid $mainColor-3;
                            color: #fff;
                            background-color: $mainColor-3;
                            top: -70px;
                        }
                        ~ .notice-subslide{
                            height: 100%;
                        }
                        ~ .swiper-button-next, ~ .swiper-button-prev, ~ .btn-more{
                            display: block;
                        }
                    }
                }
                label{
                    position: absolute;
                    top: -528px;
                    right: 170px;
                    width: 120px;
                    height: 50px;
                    line-height: 45px;
                    border: 2px solid $fontColor-1;
                    border-radius: 25px;
                    text-align: center;
                    font-size: 22px;
                    cursor: pointer;
                }
                >.notice-subslide{
                    height: 0;
                    width: 1580px;
                    margin: 0px auto 0;
                    >.swiper-wrapper{
                        position: relative;
                        >.swiper-slide{
                            width: 370px;
                            height: 350px;
                            border: 2px solid $fontColor-1;
                            color: $fontColor-1;
                            background-color: $mainColor-4;
                            &:hover{
                                border: 2px solid $mainColor-3;
                                transition: all 300ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
                                -webkit-transition: all 300ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
                            }
                            >p{
                                margin: 40px 20px 0 0;
                                &:nth-of-type(1){
                                    text-align: right;
                                    font-size: 16px;
                                    line-height: 1;
                                    >em{
                                        font-size: 48px;
                                        font-weight: 700;
                                    }
                                }
                                &:nth-of-type(2){
                                    font-size: 26px;
                                    font-weight: 700;
                                    margin: 20px 0 0 40px;
                                    @include lineClamp(82px, 2);
                                    word-break: keep-all;
                                }
                            }
                            >a{
                                width: 74px;
                                height: 38px;
                                display: block;
                                margin-left: 40px;
                                margin-top: 70px;
                            }
                        }
                    }
                }
                >.swiper-button-next{
                    display: none;
                    position: absolute;
                    width: 50px;
                    height: 50px;
                    top: 50%;
                    right: 4.6875vw; //90px(1200)
                    transform: translateY(-50%);
                    background: url(../images/main/right-arr.png) no-repeat 50% 50%;
                    z-index: 2;
                    &::after{
                        display: none;
                    }
                }
                >.swiper-button-prev{
                    display: none;
                    position: absolute;
                    width: 50px;
                    height: 50px;
                    top: 50%;
                    left: 4.6875vw; //90px(1200)
                    transform: translateY(-50%);
                    background: url(../images/main/left-arr.png) no-repeat 50% 50%;
                    z-index: 2;
                    &::after{
                        display: none;
                    }
                }
                >.btn-more{
                    display: none;
                    font-size: 24px;
                    font-weight: 700;
                    text-align: center;
                    margin-top: 20px;
                    >a{
                        display: inline-block;
                        position: relative;
                        color: $fontColor-1;
                        &:hover{
                            color: $fontColor-1;
                        }
                        >span{
                            background-color: $mainColor-3;
                        }
                    }
                }
            }
        }
        
    }

    .row4 {
        width: 100%;
        height: 970px;
        background: url(../images/main/Main_Social.png) no-repeat 50% 50%;
        background-size: cover;
        color: #fff;
        text-align: center;
        .row4-title{
            >p{
                padding-top: 110px;
                font-size: 18px;
            }
            >h2{
                font-size: 70px;
                font-weight: bold;
            }
            >span{
                font-size: 16px;
            }
        }
        .row4-info{
            ul{
                clear: both;
                width: 1200px;
                margin: 0 auto;
                li{
                    position: relative;
                    display: block;
                    float: left;
                    width: 33.3333%;
                    height: 510px;
                    span{
                        display: block;
                        padding-top: 100px;
                        font-size: 32px;
                        font-weight: bold;
                    }
                    img{
                        padding-top: 40px;
                        max-height: 290px;
                    }
                    .btnDetailView{
                        position: relative;
                        display: block;
                        max-width: 260px;
                        font-size: 24px;
                        font-weight: bold;
                        bottom: 0;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
            }
        }
    }

    .row5 {
        width: 100%;
        height: 970px;
        background-color: $mainColor-4;
        clear: both;
        .row5-1{
            float: left;
            width: 50%;
            height: 915px;
            h2 {
                position: relative;
                padding-top: 155px;
                text-align: right;
                width: 360px;
                font-size: 36px;
                font-weight: 700;
    
                &::after {
                    position: absolute;
                    bottom: -4px;
                    right: 0;
                    content: '';
                    width: 100%;
                    height: 4px;
                    background-color: $mainColor-2;
                }
            }
            .row5-txt{
                padding-left: 170px;
                h3{
                    font-size: 70px;
                    font-weight: bold;
                    margin-top: 80px;
                }
                p{
                    font-size: 36px;
                    font-weight: bold;
                    color: #5a5b5d;
                    word-break: keep-all;
                }
                a{
                    display: block;
                    width: 220px;
                    font-size: 24px;
                    font-weight: bold;
                    margin-top: 40px;
                    margin-left: 20px;
                    color: $fontColor-1;
                    &:hover{
                        color: #fff;
                    }
                    >span{
                        background-color: $mainColor-2;
                    }
                }
            }
        }
        .row5-2{
            float: left;
            width: 50%;
            height: 915px;
            padding-top: 352px;
        }
        .row5-3{
            width: 100%;
            height: 55px;
            >div{
                width: 50%;
                height: 55px;
                float: left;
                color: #fff;
                &:nth-of-type(1){
                    background-color: $mainColor-2;
                }
                &:nth-of-type(2){
                    background-color: $fontColor-1;
                }
                >p{
                    width: 100%;
                    height: 100%;
                    line-height: 55px;
                    font-size: 24px;
                    font-weight: bold;
                    padding-left: 40px;
                    >a{
                        display: block;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }

    .footer {
        width: 100vw;
        height: 285px;
        overflow: hidden;
        .footer-sec1{
            width: 100%;
            height: 140px;
            background-color: #191A1A;
            >div{
                width: 1200px;
                height: 140px;
                margin: 0 auto;
                >ul{
                    clear: both;
                    li{
                        width: 220px;
                        display: block;
                        float: left;
                        color: #fff;
                        margin: 20px 10px;
                        &:nth-of-type(4){
                            >a{
                                >span{
                                    font-size: 22px;
                                    font-weight: bold;
                                    color: $mainColor-1;
                                }
                            }
                        }
                        &:hover, &:focus{
                            >a{
                                >img{
                                    opacity: 1.0;
                                    transition: all 300ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
                                    -webkit-transition: all 300ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
                                }
                            }
                        }
                        >a{
                            display: block;
                            width: 100%;
                            height: 100%;
                            clear: both;
                            >span{
                                display: block;
                                float: left;
                                width: calc(100% - 100px);
                                font-size: 16px;
                                word-break: keep-all;
                                color: $subColor-1;
                                >em{
                                    font-size: 18px;
                                    font-weight: bold;
                                    color: #fff;
                                    line-height: 2.2;
                                }
                            }
                            >img{
                                float: left;
                                width: 100px;
                                height: 100px;
                                opacity: 0.75;
                            }
                        }
                    }
                }
            }
        }
        .footer-sec2{
            background-color: $fontColor-1;
            width: 100%;
            height: 145px;
            >.footer-sec2-top{
                width: 1200px;
                height: 75px;
                margin: 0 auto;
                padding: 20px;
                color: #fff;
                >.footer-logo{
                    float: left;
                    width: 115px;
                    height: 35px;
                    >a{
                        display: block;
                        width: 100%;
                        height: 100%;
                        >img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
                >.footer-section{
                    float: left;
                    width: 840px;
                    height: 35px;
                    line-height: 35px;
                    >ul{
                        clear: both;
                        margin-left: 40px;
                        >li{
                            position: relative;
                            display: block;
                            float: left;
                            margin-right: 40px;
                            &:last-child{
                                &::after{
                                    display: none;
                                }
                            }
                            &::after{
                                position: absolute;
                                content: '';
                                width: 2px;
                                height: 17px;
                                background-color: $subColor-1;
                                top: 10px;
                                right: -20px;
                            }
                        }
                    }
                }
                >select{
                    width: 160px;
                    height: 35px;
                    line-height: 35px;
                    float: left; 
                }
                >input[type=button]{
                    width: 45px;
                    height: 35px;
                    float: left;
                    background-color: $mainColor-1;
                    border: none;
                    color: #fff;
                }
            }
            >.footer-sec2-bottom{
                width: 1200px;
                height: 70px;
                margin: 0 auto 20px;
                color: $subColor-1;
                >p{
                    margin: 0 20px;
                }
            }
        }
    }
}
