@charset 'utf-8';
@import "design";
@import "reset";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
body {
    font: 16px/1.6 'Noto Sans KR', Malgun Gothic, "맑은 고딕", "dotum", "돋움", "AppleGothic", sans-serif;
    font-weight: 400;
    color: $fontColor-1;
}
#header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: transparent;
    .header-section{
        position: relative;
        width: 100%;
        height: 100%;
        .logo{
            display: none;
            width: 155px;
            height: 47px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 40px;
        }
        .gnb-wrap{
            position: absolute;
            bottom: 10px;
            right: 230px;
            clear: both;
            .gnb{
                clear: both;
                font-size: 24px;
                color: #fff;
                float: left;
                >li{
                    display: block;
                    float: left;
                    margin-right: 60px;
                    >ul{
                        display: none;
                    }
                }
            }
            select{
                float: left;
                position: relative;
                bottom: -4px;
                width: 80px;
                height: 35px;
                line-height: 35px;
                font-size: 24px;
                color: #fff;
                background-color: transparent;
                border: none;
                margin-right: 60px;
            }
            .btn-allmenu{
                float: left;
                position: relative;
                bottom: -10px;
                width: 50px;
                height: 23px;
                cursor: pointer;
                span{
                    &:nth-of-type(1){
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 3px;
                    border-radius: 1.5px;
                    background-color: #fff;
                    }
                    &:nth-of-type(2){
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 100%;
                    height: 3px;
                    border-radius: 1.5px;
                    background-color: #fff;
                    }
                    &:nth-of-type(3){
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    width: 65%;
                    height: 3px;
                    border-radius: 1.5px;
                    background-color: #fff;
                    }
                }
            }
        }
    }
}
#container{
    .row1{
        .allmenu-wrap{
            display: none;
        }
        .main-slide-wrap{
            width: 100%;
            height: 960px;
            clear: both;
            .main-slide-side{
                position: relative;
                float: left;
                width: 225px;
                height: 960px;
                background-color: #fff;
                h1{
                    position: relative;
                    .logo{
                        position: absolute;
                        top: 55px;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 120px;
                        height: 150px;
                    }
                }
                div{
                    position: absolute;
                    width: 540px;
                    height: 26px;
                    line-height: 26px;
                    left: 99.5px;
                    bottom: -26px;
                    transform-origin: 0 0;
                    font-size: 18px;
                    transform: rotate(-90deg);
                    span{
                        &:nth-of-type(1){
                            position: relative;
                            top: -6px;
                            display: inline-block;
                            width: 200px;
                            height: 4px;
                            background-color: $fontColor-1;
                        }
                        &:nth-of-type(2){
                            display: inline-block;
                            width: 335px;
                        }
                    }
                }
            }
            .mainslide{
                width: calc(100%-225px);
                height: 960px;
            }
        }
    }
    .row2{
        display: none;
    }
    .row3{
        display: none;
    }
    .row4{
        display: none;
    }
    .row5{
        display: none;
    }
}
#footer{
    display: none;
}